:root{
    --cor-fundo: #fde9ef;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo);
    transition: background-color 1s;
}
input{
    padding: 8px 12px;

}